<button class="btn btn-outline-primary  mb-3" routerLink="/department-add"><i class="fa-solid fa-plus" ></i> Add Department</button>
<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 demo-table"
 
>
  <!-- Position Column -->
  <ng-container matColumnDef="department-no">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let department; let i = index">{{ i + 1 }}</td>
  </ng-container>


  <!-- Name Column -->
  <ng-container matColumnDef="department-name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let department">
      {{ department.departmentName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let department">
      <div class="btn-group" role="group">
        <button
          routerLink="/department-edit/{{ department.departmentID }}"
          class="btn btn-primary"
        >
          Edit
        </button>
        <button (click)="onDeleteClick(department.departmentID)" class="btn btn-danger">Delete</button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
