<div class="row">
    <div class="col-3">
        <button routerLink="/employee-add" class="btn btn-outline-primary"> <i class="fa-solid fa-plus"></i> Add Employee</button>
    </div>
    <div class="col-3"></div>
    <app-menager-dropdown (DepartmentChange)="onDepartmentChange($event)" class="col-3"></app-menager-dropdown>
    <app-searchbar class="col-3"></app-searchbar>

</div>
<div *ngIf="employees$" class="row">
        <div *ngFor="let employee of employees$|async
                                               |searchBarFilter:filterService.filterText
                                               |filterDepartment:filterService.filterDepartmentID" class="shadow-lg col-sm-4 p-3">
             <app-employee  [employee]="employee"></app-employee>
    </div>
</div>