<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img mat-card-image style="width: 7%; height: 7%;" src="https://cdn.webrazzi.com/uploads/2020/06/eitya-19.png">

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        
        <li class="nav-item" >
        <a
        *ngIf="guard.canActivate()"
          class="nav-link"
          routerLink="/employee-list"
          routerLinkActive="active"
        >
          Employees
        </a>
      </li>
      <li class="nav-item">
        <a
        *ngIf="guard.canActivate()"
          class="nav-link"
          routerLink="/department-list"
          routerLinkActive="active"
        >
          Departments
        </a>
      </li>
    <li class="nav-item">
        <a
        *ngIf="guard.canActivate()"
          class="nav-link"
          routerLink="/department-manager-list"
          routerLinkActive="active"
        >
          Department Managers
        </a>
      </li>
    </ul>

    <ng-container
      *ngIf="guard.canActivate(); then ifTokenValid; else ifTokenInvalid"
    ></ng-container>
  </div>
</nav>

<ng-template #ifTokenValid>
  <div class="nav-item" style="float: right">
    <button
      class="mt-1"
      type="submit"
      mat-raised-button
      color="warn"
      (click)="onLogOut()"
    >
      Log out
    </button>
  </div>
</ng-template>
<ng-template #ifTokenInvalid>
  <div class="nav-item mr-2" style="float: right">
    <button mat-fab extended color="primary" routerLink="/login">Login</button>
  </div>
  <div class="nav-item" style="float: right">
    <button class="mt-1" type="submit" mat-raised-button routerLink="/register">
      Register
    </button>
  </div>
</ng-template>
