<form 
  *ngIf="employee$ | async"
  [formGroup]="EmployeeForm!"
  (ngSubmit)="onSubmit()"
>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input
        matInput
        type="text"
        class="inputHeight"
        matInput
        formControlName="firstName"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input
        type="text"
        class="inputHeight"
        matInput
        formControlName="lastName"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input class="inputHeight" matInput formControlName="email" />
    </mat-form-field>
    <div>
      <app-department-dropdown
        (DepartmentChange)="onDepartmentChange($event)"
        [defaultValue]="(employee$ | async)?.department?.departmentID"
      ></app-department-dropdown>
    </div>
    <div>
      <app-dept-manager-dropdown
        (ManagerChange)="onManagerChange($event)"
        [defaultValue]="(employee$ | async)?.deptManager?.deptManagerID"
        [departmentID]="EmployeeForm.value['departmentID']"
      ></app-dept-manager-dropdown>
    </div>
  </div>
  <div>
    <button class="mt-1" type="submit" mat-raised-button color="primary">
      Confirm Changes
    </button>
  </div>
</form>
